<div class="bg">
    <div class="logincard">
        <form class="example-form p-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <span class="logintitle">Login</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="ps-5 pb-1">
                <span class="login_lable">Username or Email :</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Username" formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="ps-5 pb-1">
                <span>Password :</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="pb-2">
                <button mat-button class="login_btn" type="submit">Login</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <a mat-button class="login_btn_new" [routerLink]="[ '/auth/newuser' ]">New User</a>
            </div>
        </form>
    </div>
</div>
