<div class="bg">
    <div style="position: absolute; top: 0; width: 100%;">
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <span class="title">Tournament</span>
            </div>
            <div fxLayout="row" class="pe-5">
                <div class="pe-5">
                    <button mat-button class="btn_header"  [routerLink]="[ '/auth/main/home']">Home</button>
                </div>
                <div class="pe-5">
                    <button mat-button class="btn_header" [routerLink]="[ '/auth/main/create']">Create Tournament</button>
                </div>
                <div class="pe-5">
                    <button mat-button class="btn_header" [routerLink]="[ '/auth/main/profile']">Profile</button>
                </div>
                
            </div>
        </mat-toolbar>
    </div>
    <div class="bg1">
        <div class="logincard">
            <form class="example-form p-4" [formGroup]="creatForm" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="logintitle">Create Tornament</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="ps-5 pb-1">
                    <span class="login_lable">Tornament Name:</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Tornament Name" formControlName="name">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="ps-5 pb-1">
                    <span>Tornament Date :</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="ps-5 pb-1">
                    <span>Bracket Type :</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-select [(value)]="selected" formControlName="opt" placeholder='Select Bracket Type'>
                          <mat-option valu="">Select an option </mat-option>
                          <mat-option value="option1">Single Elimination</mat-option>
                          <mat-option value="option2">Double Elimination</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="pb-2">
                    <button mat-button class="login_btn" type="submit">Create</button>
                        <!-- [routerLink]="[ '/auth/main' ]" -->
                </div>
            </form>
        </div>
    </div>
</div>
