.bg{
    width: 100%;
    height: 100%;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/91/244/974/aloy-horizon-zero-dawn-games-pc-games-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: Montserrat;
}
.btn_header{
    font-size: 1rem;
    font-weight: 500;
    font-family: Montserrat;
}
.img_card{
    width: 210px;
    height: 100%;
}